<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormsMenuDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormsMenuDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="sqlConnectionString" connectionString="Data Source=PC-MASAY-01\SQLEXPRESS;Initial Catalog=MenuDemo;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WinFormsMenuDemo.Properties.Settings.ConnectionString"
            connectionString="Data Source=PC-MASAY-01\SQLEXPRESS;Initial Catalog=MenuDemo;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <WinFormsMenuDemo.Properties.Settings>
            <setting name="FormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>1400, 800</value>
            </setting>
            <setting name="GridHeaderColor" serializeAs="String">
                <value>MidnightBlue</value>
            </setting>
            <setting name="GridSelectedBackColor" serializeAs="String">
                <value>255, 215, 166</value>
            </setting>
            <setting name="GridSelectedForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="GridGraphColor" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="MenuBackColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="TopBarColor" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
        </WinFormsMenuDemo.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WinFormsMenuDemo.Properties.Settings>
            <setting name="MaxSelectCount" serializeAs="String">
                <value>100</value>
            </setting>
        </WinFormsMenuDemo.Properties.Settings>
    </applicationSettings>
</configuration>